.footer{
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 50%;
    left: -540px;
    bottom: 20px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}
