<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.sina.cn" target="_blank">新浪</a> |
            <a class="link" href="https://www.baidu.com" target="_blank">百度</a> |
            <a class="link" href="https://www.taobao.com" target="_blank">淘宝</a> |
            <a class="link" href="https://www.zhihu.com" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © Power By Rick
        </p>
    </div>
</div>
<script src="../../src/util/jquery-1.11.1.min.js"></script>
